<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- The connection string for the schedulers database -->
		<add name="SchedulerContext" connectionString="Server=;Initial Catalog = ;Integrated Security = true" providerName="System.Data.SqlClient" />

		<!-- The connection string for your Blue Prism database. This will only be read from -->
		<add name="BluePrism" connectionString="Server=;Initial Catalog = ;Integrated Security = true" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<nlog>
		<targets>
			<target name="logfile" type="File" fileName="log.txt" layout="${date} ${message} ${exception:format=tostring}" />
			<target name="logconsole" type="Console" layout="${date} ${message} ${exception:format=tostring}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="logconsole" />
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>



	<appSettings>
		<!-- This value tells the scheduler how many licenses are available for use -->
		<add key="Licenses" value="1" />

		<!-- The address on which the scheduler will listen -->
		<add key="Host" value="http://*:9000/" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
